body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-weight: 500;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.container{

padding:10px;

}
nav {
    align-items: center;
    
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
}
nav p{
    font-size: 20px;
    font-weight: 500;
}

.search-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.toggle{
    border-radius: 40px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #141414;
    padding: 20px 17px 20px 15px;

}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
      background-color: rgba(0, 0, 0, 0.079);
  backdrop-filter: blur(3px) saturate(180%);
  -webkit-backdrop-filter: blur(3px) saturate(180%);
}

.overlay-content {
    position: absolute;
    top: ;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 12px 20px;
   
}

.overlay-content input{
    border: none;
    width:100%;
    font-weight: 500;
    font-size: 16px;
}

input:focus,  {
    outline: none;
}
#suggestion-form input{
    height: 50px;
}

.sub{
    margin-top:30px;
    padding: 20px 17px 20px 15px;
    border-radius:89px;
    background-color:#000;
    border:none;
    color: #fff;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, textarea {
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
}
input, button {
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.post-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.profile {
    background-color: #00f;
    padding: 10px;
    cursor: pointer;
}

.content {
    background-color: #f00;
    padding: 10px;
}

.empty {
    background-color: #ff0;
    padding: 10px;
    height: 50px;
}

.search-results {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.search-results.active {
    display: block;
}
